
body {
  background-color: olivedrab;
}
h1 {
  background-color: olivedrab;
  text-align: center;
  color: white;
  margin-top: .80%;
  font-style: italic;
  font-weight: bold;

}
h2{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  color: black;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

h3{
  color: black;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
form {
  background-color: olivedrab;
  margin-left: 25%;
  margin-right: 25%;
  align-content: center;
  height: 2000;
  width: 3000;
} 

h4{
  color: black;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
h5{
  color: black;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-size: x-large;
}
h6 {
  color: yellow;
  text-align: center;
  font-size: larger;
  margin-bottom: 2%;
  font-weight: bold;
}
p {
  color: white;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bolder;
}

