/* make backgound of login page blue */

body {
  background-color: olivedrab;
}


h1 {
  background-color: olivedrab;
  color: white;
  font-style: italic;
  font-weight: bold;

}

h2 {
  color: black;
  font-size: large;
  font-weight: bold;
}

h3 {
  color: black;
  font-size: large;
  font-weight: bold;
}

form {
  background-color: olivedrab;
}

h4 {
  color: black;
  text-align: center;
}

h5 {
  color: black;
  text-align: center;
  font-size: x-large;
}


h6 {
  color: yellow;
  font-size: larger;
  font-weight: bold;
}

/* div {
  border: .01px solid black;
} */

#account_boarder {
  border: 1px solid green;
}

#profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#regular_photos {
  width: 250px;
  height: 350px;
  border-radius: 10%;
}


#profile_button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


#save {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 9%;
}

#cancel {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 9%;
}

#delete {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 9%;
}

#logout {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 9%;
}


p {
  color: white;
  text-align: center;
  font-weight: bolder;
}

.contact {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1rem;
}

.navbar {
  background-color: khaki;
}